.mainLayout {
  display: flex;
}

.wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.logo {
  width: 200px;
}
